
	<table cellpadding="4" cellspacing="5">
	  <tr>
	    <th><%= sortable "title"%></th>
	    <th><%= sortable "body"%></th>
	    <th><%= sortable "created at"%></th>
	    <th colspan="3">Actions</th>
	  </tr>
	
	<% @posts.each do |post| %>
	  <tr id="post_<%= post.id %>">
	    <td><%=h post.title %></td>
	    <td><%=h post.body %></td>
	    <td><%=h post.created_at %></td>
	    <td><%= link_to_remote 'Show', :url => post_path(post) , :method => :get %></td>
	    <td><%= link_to_remote 'Edit', :url => edit_post_path(post), :method => :get %></td>
	    <td><%= link_to_remote 'Destroy', :url => post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
<br />
<%= link_to_remote 'New post', :url=> new_post_path, :html => { :id => "new_post", :method => :get } %> 
<div id="postpage">
	<%= page_entries_info @posts %>
	<%= will_paginate @posts%>
</div>


